/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    /* margin-right: 10px; */
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p#result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
  }
  
  .image {
    text-align: center;
    margin-top: 20px;
  }
  
  .box img {
    max-width: 100px;
    height: auto;
  }
  .textareas{
    padding:20px;
    margin-right: 25px;
  }
  